[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinstaller="*"
deepface = "*"
black = "*"
isort = "*"
tf-keras = "*"
jax = "*"
ultralytics = "*"
pandas = "*"
scikit-learn = "*"
flask-ml = "*"
ruff = "*"
cx-freeze = "*"
faiss-cpu = "*"

[dev-packages]

[requires]
python_version = "3.11"
